body {
    background: rgba(23, 23, 23, 0.966);
}


a {
    color: rgb(59, 36, 189);
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

p {
    color: white;
}

p1 {
    color: white;
}

p2 {
    color: white;
}

ul {
    color: white
}

li {
    color: white
}

footer {
    color: white
}