
body {
    background: #111;
}


a {
    color: white;
}


h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

p {
    color: white;
}

ul {
color: white
}

li {
color: white
}
