 @viewport {
   width: device-width;
}

@media (prefers-color-scheme: dark) {
   body {
     color: #fff;
     background: #130b19;
   }

   a:link {
     color: rgb(81, 119, 196);
   }

   a:visited {
     color: rgb(81, 119, 196);
   }

   a:hover,
   a:visited:hover {
     color: #def;
   }
   
 }

 @media (prefers-color-scheme: light) {
   body {
     color: rgb(0, 0, 0);
     background: rgb(217, 217, 217);
   }

   a:link {
     color: rgb(0, 0, 0);
   }

   a:visited {
     color: rgb(0, 0, 0);
   }

   a:hover,
   a:visited:hover {
     color: rgb(124, 124, 124);
   }
 }	
	
 body {
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flexbox;
   display: -ms-flex;
   display: flex;
   -webkit-flex-direction: column;
   -moz-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: center;
   -moz-align-items: center;
   -ms-align-items: center;
   align-items: center;
   -webkit-justify-content: flex-start;
   -moz-justify-content: flex-start;
   -ms-justify-content: flex-start;
   justify-content: flex-start;
   width: 100%;
   min-height: 100%;
   font-weight: 450;
   font-family: "Adobe Caslon";
   line-height: 1.4;
 }

 blockquote {
   text-align: left;
   font-size: large;
   color: black;
   width: fit-content;
   font-style: italic;
   padding: 0.3em 0.3em 0.3em 0.3em;
   margin-inline-start: 35%;
   margin-inline-end: 35%;
   margin-left: 26%;
   margin-right: 26%;
   border-right: none;
   line-height: 1.4;
   border-left: .5em solid #0c8d55;
   background: #fafafa;   
 }

 code {
   font-family: Arial, Helvetica, sans-serif;
   font-style: bold;
   font-size: medium;
 }

 footer {
   font-family: Arial, Helvetica, sans-serif;
   margin-bottom: 0.5em;
 }

 h1 {
   margin-top: 40;
   text-align: center;
 }

 h2 {
   margin-top: -100;
 }

 ul {
   list-style-type: none;
 }

 li {
   font-size: x-large;
 }

 .hindex {
   margin-bottom: -0.5em;
 }

 .note {
   font-size: smaller;
   margin-bottom: 5em;
 }

 .divider {
   width: 179px;
   text-align: justify;
 }
 

 .footer {
   width: 10em;
   text-align: left;
   margin-left: 0;
 }

 .pbody {
   padding-left: 25%;
   padding-right: 25%;
   padding-top: 5px;
   padding-bottom: 5px;
   font-size: larger;
 }

 .pheader {
   padding-left: 30%;
   padding-right: 30%;
   padding-top: 0px;
   padding-bottom: 5px;
 }

 .prefs {
   padding-left: 30%;
   padding-right: 30%;
   padding-top: 5px;
   padding-bottom: 5px;
   font-size: medium;
 }


 .pemp {
   font-style: bold;
   font-size: large;
   padding-left: 25%;
   padding-right: 25%;
   padding-top: 5px;
   padding-bottom: 5px;
 }