

	@media (prefers-color-scheme: dark){
		body {color:#fff;background:#000}
		a:link {color:rgb(81, 119, 196)}
        a:visited {color:rgb(81, 119, 196)}
		a:hover, a:visited:hover {color:#def}
	}

	@media (prefers-color-scheme: light){
		body {color:rgb(0, 0, 0);background:rgb(217, 217, 217)}
		a:link {color:rgb(0, 0, 0)}
        a:visited {color:rgb(0, 0, 0)}
		a:hover, a:visited:hover {color:rgb(124, 124, 124)}
	}

    @media (max-width: 978px) {
        .pbody{padding-left: 5em; padding-right: 5em;}
        .pemp{padding-left: 5em; padding-right: 5em;}
        li{margin-left: 5em; margin-right: 5em;}
        }

    a {
        text-decoration:none;
    }

blockquote {
    font-size: 1.1em;
    width: fit-content;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 1.2em;
    margin-inline-start: 30em;
    margin-inline-end: 30em;
    border-left: 8px solid #78C0A8;
    border-right: 2px;
    line-height: 1.3;
    background: #EDEDED;
    position:relative;
}

code {
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.5em;
}


h1 {
    margin-top: 40;
    text-align: center;
}

h2 {
    margin-top: -100;
}

ul {
    list-style-type: disc;
}

li {
    margin-left: 30em;
    margin-right: 30em;
}

.divider {
    margin-left: 25em;
    margin-right: 25em;
}
.footer {
    width: 179px; text-align: left; margin-left: 0;
}

.pbody
{ 
    padding-left: 30em;
    padding-right: 30em;
    padding-top: 5px;
    padding-bottom: 5px;
}
.pemp
{
    font-style: bold;
    text-decoration: underline;
    padding-left: 30em;
    padding-right: 30em;
    padding-top: 5px;
    padding-bottom: 5px;
}
