/* @media (prefers-color-scheme: dark) {
  body {
    color: rgba(255, 254, 254, 0.699);
    background: #030101;
  }

  a:link {
    color: rgba(255, 254, 254, 0.699);
  }

  a:visited {
    color: rgba(255, 254, 254, 0.699);
  }

  a:hover,
  a:visited:hover {
    color: #def;
  }

  blockquote {
    background: #130b19;
    color: #fff;
    -moz-box-shadow: 0px 5px 15px #190c19;
    -webkit-box-shadow: 0px 5px 15px #190c19;
    box-shadow: 0px 5px 15px #190c19;
  }

} */

/* @media (prefers-color-scheme: light) {
  body {
    color: rgb(0, 0, 0);
    background: rgba(230, 222, 222, 0.861);
  }

  a:link {
    color: rgb(0, 0, 0);
  }

  a:visited {
    color: rgb(0, 0, 0);
  }

  a:hover,
  a:visited:hover {
    color: rgb(124, 124, 124);
  }

  blockquote {
    background: rgb(217, 217, 217);
    color: black;
    -moz-box-shadow: 0px 5px 15px #ccc;
    -webkit-box-shadow: 0px 5px 15px #ccc;
    box-shadow: 0px 5px 15px #ccc;
  }

} */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


a {
  text-decoration: none;
}

a:link {
  color: rgba(255, 254, 254, 0.699);
}

a:visited {
  color: rgba(255, 254, 254, 0.699);
}

a:hover,
a:visited:hover {
  color: #def;
}


body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-height: 100%;
  font-family: 'Lora', serif;
  line-height: 1.5;
  margin: 0;
  color: rgba(255, 254, 254, 0.699);
  background: #030101;
}

blockquote {
  text-align: left;
  font-size: medium;
  width: fit-content;
  font-style: italic;
  font-family: 'Source Code Pro', monospace;
  padding: 0.3em 0.3em 0.3em 0.3em;
  margin-inline-start: 35%;
  margin-inline-end: 35%;
  margin-left: 36%;
  margin-right: 36%;
  border-right: none;
  line-height: 1.5;
  background: #130b19;
  color: #fff;
  -moz-box-shadow: 0px 5px 15px #190c19;
  -webkit-box-shadow: 0px 5px 15px #190c19;
  box-shadow: 0px 5px 0px #190c19;

}

pre {
  font-size: medium;
  font-style: italic;
  font-family: 'Source Code Pro', monospace;
}

code {
  font-family: 'Source Code Pro', monospace;
  font-style: bold;
  font-size: medium;
}

footer {
  font-family: Helvetica, sans-serif;
  margin-bottom: 0.5em;
}

h1 {
  margin-top: 40;
  text-align: center;
}

h2 {
  margin-top: -100;
}

ul {
  list-style-type: none;
}

li {
  font-size: x-large;
}

.hindex {
  margin-bottom: -0.5em;
}

.note {
  font-size: smaller;
  margin-bottom: 5em;
}

.divider {
  width: 179px;
  text-align: justify;
}


.footer {
  width: 5.5em;
  margin-left: 0;
}

.pbody {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: medium;
}

.pheader {
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 0px;
  padding-bottom: 5px;
}

.prefs {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: medium;
}


.pemp {
  font-size: x-large;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  ;
}

.linebreak {
  color: rgba(170, 189, 206, 0.482);
  opacity: 50%;
}

.inline {
  text-decoration: underline;
}

@media only screen and (min-width: 600px) {

  .pbody {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .pheader {
    padding-left: 30%;
    padding-right: 30%;
  }

  .prefs {
    padding-left: 20%;
    padding-right: 20%;
    font-size: x-small;
  }


  .pemp {
    padding-left: 15%;
    padding-right: 15%;
  }

  blockquote {
    margin-left: 25%;
    margin-right: 25%;
  }

}

@media only screen and (min-width: 1200px) {
  .pbody {
    padding-left: 38%;
    padding-right: 38%;
    padding-top: 5px;
    padding-bottom: 5px;

  }

  .pheader {
    padding-left: 30%;
    padding-right: 30%;
  }

  .prefs {
    padding-left: 38%;
    padding-right: 38%;
    font-size: small;
  }


  .pemp {
    padding-left: 38%;
    padding-right: 38%;
  }

  blockquote {
    margin-left: 41%;
    margin-right: 41%;
  }

}